mixin makeList(list)
  ul.main-nav
    each item in list
      li
        a(href=item.href)=item.title
          if item.sublevel
            +makeList(item)
-;

mixin makePhoneList(contacts)
  table.contacts
    each item in contacts
      tr
        td.contact__title=item.title
        td
          each phone in item.phones
            p
              a(href="tel:"+phone).contact__phone=phone
-;
  
mixin makelistMenu(arr)
  ul
    each item in arr
      li
        a(href="#")=item.title
        -if(item.sublist)
          +makelistMenu(item.sublist)
-;


mixin makePost(item)
  .column.column-phablet-1-3.column-posts
    a(href="#").post
      .post__top
        .post__date=item.date
        .post__text=item.text
      .post__img
        img(src='img/'+item.img alt='')
-;

mixin makeSidebarList(arr)
  ul
    each item in arr
      li
        a(href="#")=item.title
        i.fas.fa-chevron-down
        -if(item.sublist)
          +makelistMenu(item.sublist)
-;

mixin makeNews(list)
  each item in list
    .news-post
      a(href="#").date=item.dayMonth
        span=item.year
      a.text(href="#")=item.text
        i.fas.fa-long-arrow-alt-right
-;

mixin makeNewsWithImage(list)
  each item in list
    .news-post
      a(href="#").date=item.dayMonth
        span=item.year
      .text=item.text
        a(href="#").button
          i.fas.fa-long-arrow-alt-right
-;

mixin makeServices(list)
  each item in list
    .news-post
      a(href="#").date=item.dayMonth
        span=item.year
      .text=item.text
        a(href="#").button
          i.fas.fa-long-arrow-alt-right
-;

mixin card(item)
  a.card(class=item.mod?"card_"+item.mod:'' href="#")
    .card__img
      img(src="img/"+item.img alt="img")
    .card__title=item.title
-;

mixin product(item)
  a.product(href="#")
    .product__img
      img(src="img/"+item.img alt="img")
    .product__title.title.title_product=item.title
-;


                